@import "tailwindcss";
.btn {
    @apply bg-[#4A7B14] text-[#EBF2FA] rounded-full;
}

.btn:hover {
    @apply bg-[#BDE692] transition duration-300;
}

@media only screen and (max-width: 600px) {

button {
    padding: 2px
}

    .smallSideMargin {
        margin-left:  1rem;
        margin-right: 1rem;
    }
    .smallTopMargin {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .noSideMargin {
        margin-right: 0;
        margin-left: 0;
    }
    .rowToColumn {
        flex-direction: column;
    }
    .columnReverse {
        flex-direction: column-reverse;
    }
}
