@import "tailwindcss";
.btn {
    @apply bg-[#4A7B14] text-[#EBF2FA] rounded-full;
}

.btn:hover {
    @apply bg-[#BDE692] transition duration-300;
}

.custom-shadow {
    @apply shadow-[4px_6px_3px_0px_rgba(0,_0,_0,_0.2)]
}

@media only screen and (width <= 650px) {

    button {
        padding: 2px
    }

    .biggerNav {
        max-height: 5rem;
        overflow: hidden;
    }
    .logoSpace {
        margin-left: 1rem;
    }

    .navButtonsSmall {
        max-width: 80px;
        text-align: center;
        align-content: center;
        font-size: 12px;
        padding: 5px;
    }
    .smallSideMargin {
        margin-left:  1rem;
        margin-right: 1rem;
    }
    .smallTopMargin {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .noSideMargin {
        margin-right: 0;
        margin-left: 0;
    }
    .rowToColumn {
        flex-direction: column;
    }
    .columnReverse {
        flex-direction: column-reverse;
    }
    .headerTextSize {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1160px) {
    .headerTextSizeMedium {
        font-size: 70px;
    }
    .navButtonsMedium {
        width: 130px;
        text-align: center;
        align-content: center;
        font-size: 12px;
    }
}

