@import "tailwindcss";
.btn {
    @apply bg-[#4A7B14] text-[#EBF2FA] rounded-full;
}

.btn:hover {
    @apply bg-[#BDE692] transition duration-300;
}

@media only screen and (max-width: 600px) {

    button {
        padding: 2px
    }

    .biggerNav {
        max-height: 5rem;
        overflow: hidden;
    }
    .logoSpace {
        margin-left: 1rem;
    }
    .smallScreenGap {
        gap: 1rem;
    }

    .navButtonsSmall {
        width: 80px;
        text-align: center;
        align-content: center;
        font-size: 12px;
    }
    .smallSideMargin {
        margin-left:  1rem;
        margin-right: 1rem;
    }
    .smallTopMargin {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .noSideMargin {
        margin-right: 0;
        margin-left: 0;
    }
    .rowToColumn {
        flex-direction: column;
    }
    .columnReverse {
        flex-direction: column-reverse;
    }

}
